.tile-input[b-l30f148upv] {
    font-weight: bold;
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
}

.tile-empty[b-l30f148upv] {
    font-weight: bold;
    background-color: dimgrey;
    border: 2px solid grey;
}
