
.tile-full-hit[b-1i2qxg1oav] {
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}

.tile-partial-hit[b-1i2qxg1oav] {
    font-weight: bold;
    background-color: darkgoldenrod;
    color: white;
}

.tile-not-hit[b-1i2qxg1oav] {
    font-weight: bold;
    background-color: dimgray;
    color: white;
}