.btn-not-hit {
    background-color: dimgray !important;
    color: white !important;
}

.btn-partial-hit {
    background-color: darkgoldenrod !important;
    color: white !important;
}

.btn-full-hit {
    background-color: darkgreen !important;
    color: white !important;
}
